@import url("browserResets.css");

header{
	background-color: rgb(183,173,173);
	# background-image: url("../images/flywheel.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 5px;
	width: auto;
	height: 150px;
}


nav {
	text-align: center;
}


nav  a{
	color: rgba(0,0,0,1);
	background-color: rgba(255,255,255,.5);
	text-decoration: none;
	display: inline-block;
	padding: 5px 10px 5px 10px;
	margin: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid black;
}

aside {
	display: inline-block;
	width: 30%;
	background-color: background: #B3B3B3;;
}
section img{
	/*  display: none;  */
	width: 65%;
	float: right;
	#border: 2px solid black;
	margin: 5% 0% 5% 0%;
	object-fit: contain;
}
aside img{
	/*  display: none;  */
	width: 25%;
	height: auto;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 2px solid black;
}


.active {
	background-color: rgba(194,46,9,.7);
}

.left{
	float:left;
}

.right{
	float:right;
}



section {
	display: inline-block;
	width: 100%;
	margin: 25px 0px 0px 10px;
	#background-color: #B3B3B3;
	background-color: rgba(255,255,255,1);
	padding: 0px 0px 0px 0px;
	width: 70%;
	#float: left;
}

section > h1{
	margin: 20% 0px 2% 2%;
	text-align: left;
	color:	rgba(0,0,0,1);
	font-size: 200%;
	#text-transform: uppercase;
	/*  padding-bottom: 25px;   */
}

section > h2 {
	color:	rgba(0,0,0,1);
	text-align: left;
	margin: 20% 0px 2% 2%;
	/* text-transform: uppercase;  */
}
section > h3 {
	color:	rgba(0,0,0,1);
	text-align: left;
	margin: 20% 0px 2% 2%;
	/* text-transform: uppercase;  */
}

a:hover {
	background-color: rgba(150,150,150,.5);
	color:	rgb(255,255,255,1);

}