body {
	padding: 1%;
	margin: .5%;
}

header {
	background: #aaaaaa url("../images/flywheel.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1%;
	text-align: center;
}

nav a {
	background: rgba(250,250,250,.3);
	border-radius: 10px;
	text-decoration: none;
	display: inline-block;
	margin: 3%;
	padding: 1%;
	width: 15%;
	color: #000000;
	font-weight: bold;
}

.active {
	background: #ffffff;
	color: rgb(10,10,150);
}

h1 {
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	color: #000000;
}

.left {
	background: rgb(120,120,40);
	display: inline-block;
	width: 13%;
	height: 472px;
	float: left;
}

.right {
	float: right;
	width: 86%;
}

img {
	width: 75%;
	border: 2px solid #000000;
	display: block;
	margin: auto;
	margin-top: 10%;
}

table {
	font-family: Georgia, Times, serif;
	font-size: 87%;
	font-weight: 400px;
	margin: 0 15% 0 15%;
	width: 50%;
}

th {
	line-height: 250%;
	background: -moz-linear-gradient(top, rgb(162,166,43) 95%, #88cc66 5%);
	background: -webkit-linear-gradient(rgb(162,166,43) 95%, #88cc66 5%);
	background: -o-linear-gradient(rgb(162,166,43) 95%, #88cc66 5%);
	background: linear-gradient(rgb(162,166,43) 95%, #88cc66 5%);
	border: 2px solid #88cc66;
	border-bottom: 5px solid;
	border-radius: 5px 5px 0 0;
	color: #ffffff;
}

th:first-child {
	text-align: left;
	padding-left: 10px;
}

tr td:nth-child(1) {
	padding-left: 10px;
}

tr td:nth-child(n+2) {
	text-align: center;
}

tr {
	opacity: .75;
}

td {
	background: rgb(50,120,3,.75);
	color: #111111;
	line-height: 200%;
	border-radius: 2px;
}

tr:hover {
	opacity: 1;
	text-shadow: 5px 5px 50px #123321;
}